body{
    background-color: #fdfcfd;
    height:100;
    overflow: hidden;
}
header{
    
    text-align: center;
    padding: 20px;
    margin: 0;
    color: thistle;
    font-size: 20px;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    background-color: rgb(48, 40, 40);
}
nav{
    padding: 0px;
    font-size: 20px;
    text-align: center;
    word-spacing: 150px;
    margin: 15px;
}

nav a{
    color: #D7D6D6;
    text-decoration: underline transparent;
    text-underline-offset: 5px;
    transition: text-decoration 0.5s ease-in-out;
}

nav a:hover{
    text-decoration-color: #D7D6D6;
}

nav a::after{
    transition: all 0.5s ease-in-out;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}